.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: stretch;
  text-align: left;
  width: 100%;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--text-dark);
  margin-top: 24px;

}

.subtitle {
  font-size: 14px;
  color: #888;
  margin: 0px;
  line-height: 1.4;
}

.subCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 16px;
}

.hourRate {
  display: flex;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.rateWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}