.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: stretch;
  text-align: left;
  width: 100%;
}

hr {
  margin: 0px !important;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--text-dark);
}

.subtitle {
  font-size: 14px;
  color: #888;
  margin: 0px;
  line-height: 1.4;
}

.subCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 16px;
}

.calendarBtn {
  margin: 0px !important;
  padding: 12px 16px !important;
  font-size: 0 !important;
}

.hourRate{
  display: flex;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid var(--vite);
  background: rgba(255, 255, 255, 0.05);
  outline: none;
  transition: box-shadow 0.25s;
  box-sizing: border-box;
}

.input:focus {
  box-shadow: 0 0 0 4px var(--vite);
}

.net {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin: 0px;
}

.results {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  background: rgba(255, 255, 255, 0.05);
  padding: 16px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0px;
}

.button {
  align-self: center;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: var(--vite);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.25s;
  transition: 0.3s;
}

.button:hover {
  background: var(--vite);
  color: white;
  box-shadow: 0 1px 8px var(--vite);
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.qaBtn{
  display: flex;
  padding: 12px 16px;
  font-size: unset;
}

.inpQa{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}