.app {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  padding: 28px 24px;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 12px;
    box-shadow: none;
  }
}

.toggle-container {
  display: flex;
  gap: 6px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 6px;
  margin: 0px auto;
  width: fit-content;
  border: 1px solid var(--vite-purple);
  margin-bottom: 16px;
}

.toggle-option {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  font-weight: 500;
  transition: all 0.25s ease;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  outline: none;
}

.toggle-option.active {
  background: var(--vite-purple);
  color: white;
  box-shadow: 0 1px 8px var(--vite-purple);
}

.toggle-option:not(.active):hover {
  background: var(--vite-purple);
  color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}