:root {
  --vite: #708A58;
  --vite-dark: #2D4F2B;
  --bg-dark: #242424;
  --text-dark: rgba(255, 255, 255, 0.87);
  --border-dark: rgba(255, 255, 255, 0.2);

  font-family: 'Poppins', sans-serif;
  color-scheme: light dark;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--bg-dark);
  color: rgba(255, 255, 255, 0.87);
}

body {
  padding: 16px;
  background: var(--bg-dark);
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}